{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        {% if user.is_authenticated %}
        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
   {% endif %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>

   
    <h2>
         Комментарии ({{post.comments.count}}) 
    </h2>

    {% include "blog/comments.html" with comments=post.get_comments cl='comment' offset=0 %}


    {% if done %}
        <h2>Комментарий сохранен</h2>
    {% else %}
        <h2>Оставить комментарий</h2>
        <form action="." method="post" id="formComment">
            <input type="hidden" name="parent" id="contactparent" value="">
            {{ form.as_div }}
            {% csrf_token %}
            <p><input type="submit" value="Сохранить"></p>
        </form>
    {% endif %}

    <script>
        function addReview(name, id) {
            document.getElementById("contactparent").value = id;
            var t= document.getElementById("id_text");
            t.innerText = `Ответ для ${name}, `;            
            t.focus();
            event.preventDefault();
            
        }
    </script>

{% endblock content %}